# No whitespace after the comma or in your part name!
config CORNE_LEFT
    def_bool $(shields_list_contains,coren_left)

# No whitespace after the comma or in your part name!
config CORNE_RIGHT
    def_bool $(shields_list_contains,corne_right)